Oh. When I was writing that code, I was referring to §4.2 of RFC5280, which says:

> Each extension includes an OID and an ASN.1 structure. When an extension appears in a certificate, the OID appears as the field extnID and the corresponding ASN.1 DER encoded structure is the value of the octet string extnValue.

I didn't realize some people would just disregard this and put arbitrary bytes in this field, huh. Or maybe I'm just reading the RFC wrong. Anyway, yeah, the code definitely needs to be changed to accomodate the reality. I'll do that in a sec.

Yes, I read that too, and I agree that it should be wrapped in another octet string. However, AMD seems to interpret it differently.

Thanks for addressing this so quickly!

Unfortunately, adding `_extnDecodeErr` to the result make testing with `assert.same` a little less idiomatic, since it now also expects `_extnDecodeErr` in the result table.

I've thought about this a little more. Since it's a recognized extension, we know whether the value needs to be decoded or left alone. So I've added a new optional field (`nonDerEncodedValue`) for recognized extension objects: when set to a truthy value, the OCTET STRING is left as is; otherwise it decodes it and propagates errors, like it did before.